<p id="notice"><%= notice %></p>

<h2>Listing Expenses</h2>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.amount %></td>
        <td><%= Category.where('id=?',cost.category_id).first.try(:name) %></td>
        
        <td><%= cost.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Enter Your Expense', new_cost_path, :class => 'btn btn-primary btn-sm' %>
