<!DOCTYPE html>
<html>
<head>
 <title>Wallet Application</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>


<body style="background:#DEB887">
<div class="container">
<div class="masthead">
       
       <nav>
         <ul class="nav nav-justified">
           <li class="active"><a href="/">Home</a></li>
           <%if current_user %><li><a href="/costs">Expenses</a></li><%end%>
           <li><%= render 'users/menu/registration_items' %></li>
           <li><%= render 'users/menu/login_items' %></li>
         </ul>
       </nav>
     </div>
<% if current_user %>
<br><div style="width:90%;color:white;font-weight:bold">
<% @income_total = current_user.income.amount if current_user.income.present?%>
<div style="float:left;">Your Income Amount: <b><%= @income_total.present? ? @income_total : '0 '%>$</b></div>
<% @expenses_total = current_user.costs.map(&:amount).sum unless current_user.costs.blank?%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expenses Total: <%= @expenses_total.present? ? @expenses_total : '0 '%>$
<% if @expenses_total.present? %>
<div style="float:right">Savings($): <%= @income_total - @expenses_total unless @income_total.blank? || @expenses_total.blank?%></div></div>
<% end %>
<% if @expenses_total.blank? %>
<div style="float:right">Savings($): <%= @income_total unless @income_total.blank? %></div></div>
<% end %>
<% if current_user.income.present? && current_user.income.limit.present? && @expenses_total.present? %>
<% if @expenses_total > current_user.income.limit %>
<div style="color:red;">Your expenses have exceeded from LIMIT-<%= current_user.income.limit %></div>
<% end %>
<% end %>
<%elsif controller_name == 'home'%>
<br><br><center>

<h1>ECE 495/595 – Web Application Architectures: Wallet
Assignment
</h1>

<h4> By Gopi Krishna Chigulapally </h4>
<%= image_tag 'wallet.jpg', :style => 'border-radius: 10px 10px 10px 10px;'%><br><br>

</center> 
<% end %>
<%= yield %>
</div>





</body>
</html>